body {
	background-color:#729f98;
	font-family: 'Open Sans', sans-serif;
	position:relative;
}

a.personal-project-link:hover {
	color:#fff;
}

a.home-link {
	color:#fff;
}

.nav-title {
	font-variant: small-caps;
	font-size:30px;
}

.navbar {
	background-color:#f0eceb;
	position: fixed;
	width: 100%;
	z-index: 999;
}


.divider-row {
	padding:10px;
	background-color: #729f98;
}

.divider-row-headings {
	padding:50px;
	background-color: #729f98;
}


.front-page-panel, .projects-panel, .bottom-panel {
	background-color:#283018;
	padding:40px;
	color:#fff;
}

.text {
	color:#fff;
}

.heading {
	color:#fff;
	text-align:center;
}

.code-logo {
	font-size: 3.85em;
	color:#fff;
	text-align:center;

}


.element {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.red {
	color:#f00;
}